

.titulo {
  color: aqua;
  padding: 10rem;
}


.galeria-intereses {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.interes-boton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.interes-boton:hover {
  background-color: #e0e0e0;
}